# Bootstrap
#app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
#app/config/parameters.ini
#app/config/parameters.yml

# additional ignored files
web/index.php
build/

# eclipse files
.buildpath
.project
.settings/
